/* modifiers by Po-Cheng Liu */

.imgavatar{
	width: 300px;
	border-radius: 150px;
	margin: 30px 30px;
}

.style-intro{
	background-color: #5e42a6;
}

.style-edu{
	background-color: #5d1c7e;
	/* padding: 0px 12em 0px 6em; */
}

.align {
	max-width: 900px;
	margin: auto;
}		
.school-icon {
	border-radius: 0.5em;
	display: block;
	height: 120px;
}
.img {
	border-radius: 3em;
	border: 0;
	display: inline-block;
	position: relative;
	
}
.img.right {
	float: right;
	margin: 0 0 1em 1.5em;
	top: -8px;
}

.style-proj-header{
	background-color: #5759b4;
}
.style-proj{
	background-color: #5052b5;
}
